# Decision Tree Classification

In [ ]:
# Decision Tree modeli ile bir kişinin işe alınıp alınmadığını tahmin eden proje.

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("DecisionTreesClassificationDataSet.csv")
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [3]:
duzetme = {'Y': 1, 'N': 0}
df['IseAlindi'] = df['IseAlindi'].map(duzetme)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(duzetme)
df['Top10 Universite?'] = df['Top10 Universite?'].map(duzetme)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(duzetme)

duzetme_egitim = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(duzetme_egitim)

df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [4]:
X = df.drop(['IseAlindi'], axis=1)   # features
y = df['IseAlindi']                  # target

In [5]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [6]:
print (clf.predict([[5, 1, 3, 0, 0, 0]]))

[1]

In [7]:
print (clf.predict([[2, 0, 7, 0, 1, 0]]))

[0]